body {
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: inline-block;
    max-width: 1024px;
    width: 100%;
    min-height: 2000px;
    background-color: white;
    margin-top: 0px;
    padding: 10px;
}

.navBar{
    background-color: #457eb7;
    box-shadow: 0px 1px 0px #3b6292;
    text-align: center;
    width: 100%;
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.navBarContent{
    width: 1024px;
    height: 50px;
    display: inline-block;
}

.navBarItem{
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 51px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    /*margin-left: -10px;*/
    cursor: pointer;
    font-size: 16px;
    transition: background-color .1s ease-out;
    color: white;
}

.navBarItemRight{
    float: right;
    margin-right: -10px;
}

.navBarItem:hover{
    background-color: #4475af;
}

.navBarItem i{
    position: relative;
    top: 3px;
    font-size: 20px;
}

.banner{
    background-color: #3f6ea2;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.bannerContent{
    width: 1024px;
    height: 200px;
    display: inline-block;
}

.contentBlock{
    background-color: grey;
    background: url("/public/assets/happy.jpg");
    background-size: cover;
    position: relative;
    color: white;
    width: 425px;
    height: 700px;
    float: left;
}

.contentBlockSign{
    background: url("/public/assets/school.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    width: 380px;
    height: 400px;
    float: right;
    display: inline-block;
    margin-right: 10px;
}

.contentBlockList{
    background-color: #dcdcdc;
    position: relative;
    color: white;
    width: 200px;
    height: 400px;
    float: right;
    display: inline-block;
}



.contentBlockTitle{
    background: rgba(63, 110, 162, 0.69);
    width: inherit;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.contentBlockTitle h2{
    display: inline-block;
    margin: 0;
    margin-top: 25px;
}

.logo{
    width: 150px;
    position: relative;
    top: 20px;
    height: 150px;
    background: url("/public/assets/logo.svg");

}